<a href="https://colab.research.google.com/github/clebersenacti/Logic-Programming/blob/main/Exerc%20feito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center"> <h2> Exercícios </h2> </div>

<div style="text-align: center"> <h2> Responda abaixo os tipos de variáveis</h2> </div>

In [ ]:
mensagem = 'Oi, tudo bem?'
n = 10
pi = 3.14

In [ ]:
type(mensagem)

str

In [ ]:
type(n)

int

In [ ]:
type(pi)

float

<div style="text-align: left"><p><strong>Atenção</strong><br>O que acontece ao cadastrar uma variável com número na frente?</p></div>

In [ ]:
2x = 5

SyntaxError: invalid decimal literal (560062693.py, line 1)

In [ ]:
"Para adicionar uma imagem utilize o código abaixo"
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300")

In [3]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url= "https://www.8newsnow.com/wp-content/uploads/sites/59/2022/08/husky_eyes.jpg?w=1988&h=1440&crop=1")

In [34]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url= "https://i.pinimg.com/originals/bd/a5/be/bda5be61177acdb5fd46c3219f8b81a0.jpg")

In [35]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url= "https://www.google.com.br/maps/place/SENAI+Florian%C3%B3polis+(CTAI)/@-27.547806,-48.5016379,17z/data=!3m1!4b1!4m5!3m4!1s0x9527475e01a8efef:0x5b0f13adab8483ec!8m2!3d-27.5478108!4d-48.4994439")

<div style="text-align: center"> <h2>Como realizar uma declaração de variável múltipla?</h2> </div>

In [ ]:
pessoa1,pessoa2,pessoa3="Maria","Julia","Ana"

<div style="text-align: center"> <h2>Teste o modo script no jupyter e em outra IDE</h2> </div>

In [ ]:
5
x= 5
x + 1

6

In [4]:
2
y=3
y+10

13

<div style="text-align: left">
No script não recebe nenhuma saída. Uma expressão, por conta própria, não tem efeito visível no modo script. O Python,
na verdade, avalia a expressão, mas não exibe o valor a menos que você especifique:.</div>

In [ ]:
x = 5
print('x + 1')

x + 1

<div style="text-align: center"> <h2>Operações com strings</h2> </div>

In [ ]:
primeiro = 'o'

In [ ]:
segundo = 'i'

In [ ]:
"""Quanto dá primeiro + segundo?"""

'Quanto dá primeiro + segundo?'

In [ ]:
primeiro+segundo

'oi'

<div style="text-align: left"><p>
Execute a multiplicação do primeiro pelo segundo</p></div>

In [ ]:
primeiro*3

'ooo'

In [ ]:
"""Converta os números: 2 para float e 2.8 




para inteiro"""

'Converta os números: 2 para float e 2.8 \n\n\n\n\npara inteiro'

In [ ]:
float(2)

2.0

In [ ]:
int(2.8)

2

In [ ]:
x=2
str(x)

'2'

In [ ]:
# Retorna o valor absoluto de -10

In [ ]:
abs(-10)

10

In [ ]:
# Retorna o valor com arredondamento de 8.7890 em duas casas decimais

In [ ]:
round(8.7890,2)

8.79

In [ ]:
# 2 elevado a 5 dá quanto?

In [ ]:
pow(2,5)

32

Desenvolva um algoritmo e um fluxograma para um
programa que permita com que o usuário insira quatro
números. 
O programa deverá imprimir a média ponderada, sabendo-se que os pesos são respectivamente: 1, 2, 3 e 4

In [5]:
num1=float(input("Digite o número 1: "))

Digite o número 1: 9

In [7]:
num2=float(input("Digite o número 2: "))

Digite o número 2: 9

In [8]:
num3=float(input("Digite o número 3: "))

Digite o número 3: 9

In [9]:
num4=float(input("Digite o número 4: "))

Digite o número 4: 9

In [10]:
media=(num1*1 + num2*2 + num3*3 + num4*4)/10

In [11]:
print(media)

9.0

Todo restaurante, embora por lei não possa obrigar o cliente a
pagar, cobra 10% do valor da conta como taxa de serviço. Elabore
um algoritmo e um fluxograma que leia o valor gasto com as
despesas realizadas em um restaurante e exiba o valor total com a
taxa de serviço (conforme exemplo).
Por favor digite o valor da conta (em reais): 75
Valor da taxa de serviço: 7.5 reais
Valor total da conta (com taxa de serviço): 82.5 reais

In [12]:
valor=float(input("Por favor digite o valor da conta (em reais)"))

Por favor digite o valor da conta (em reais)121

In [ ]:
taxa=valor*0.1
valorfinal=valor+taxa

In [ ]:
print("Valor da taxa de serviço: ",taxa)

Valor da taxa de serviço:  10.0

In [ ]:
print("Valor total da conta:", valorfinal)

Valor total da conta: 110.0

Escreva um algoritmo e monte um fluxograma que leia as dimensões de um terreno (largura e profundidade) e calcule sua 
área.

In [13]:
lag=float(input("digite largura: "))
comp=float(input("digite comprimento: "))
total=lag*comp
print("área do terreno: ", total)

digite largura: 10
digite comprimento: 20
área do terreno:  200.0

Faça um algoritmo e um fluxograma que leia a idade de uma pessoa expressa em anos, meses e dias e mostre-a 
expressa apenas em dias. A idade deve ser digitada considerando três variáveis inteiras.

In [14]:
ano=int(input("digite a idade em anos"))
meses=int(input("digite a idade em meses"))
dias=int(input("digite a idade em dias"))
idade=ano*365+meses*30+dias
print("Sua idade em dias é: ", idade)

digite a idade em anos37
digite a idade em meses9
digite a idade em dias1
Sua idade em dias é:  13776

 Uma fazenda adquiriu animais para o trabalho diário e também para produção de leite e lã. Foram 
adquiridos cavalos, vacas e ovelhas.
A quantidade de cada animal deve ser informada no algoritmo. Após, deve ser calculado e 
apresentado as seguintes informações:
 Volume diário, semanal e mensal de leite produzido, considerando que cada vaca produz, na 
média, 3,2 litros/dia.
 Volume, em quilos, de lã produzida, estimando para isso que cada ovelha produza 2,3 quilos 
de lã a cada tosquia (retirada da lã da ovelha).
 Quantidade de ferraduras necessárias para equipar toda a tropa de cavalos

In [28]:





#produção de leite das vacas adquiridas.

vacasAdq=float(input("Digite o numero de vacas adquiridas:"))

Digite o numero de vacas adquiridas:10

In [22]:
prodDia=vacasAdq*3.2
prodSemana=prodDia*7
prodMes=prodDia*30
print("Produção diaria", prodDia, "Semana",  prodSemana,  "Mensal", prodMes)

Produção diaria 32.0 Semana 224.0 Mensal 960.0

In [23]:








#produção de lã das ovelhas adquiridas.
ovelhasAdq=float(input("Digite o numero de ovelhas adquiridas:"))

Digite o numero de ovelhas adquiridas:100

In [27]:
prodDia=ovelhasAdq*2.3
prodSemana=prodDia*7
prodMes=prodDia*30
print("Produção diaria de lã em Kgs", round(prodDia), "Semanal",  round(prodSemana),  "Mensal", round(prodMes))

Produção diaria 230 Semana 1610 Mensal 6900

In [29]:





#quantidade de ferraduras para a cavalaria
cavalosAdq=float(input("Digite o numero de cavalos adquiridos:"))

Digite o numero de cavalos adquiridas:10

In [30]:
prodDia=cavalosAdq*4
prodSemana=prodDia*7
prodMes=prodDia*30
print("Cascos ferreados por dia dia", round(prodDia), "por semana",  round(prodSemana),  "por mes", round(prodMes))

Cascos ferreados por dia dia 40 por semana 280 por mes 1200